In [3]:
import pandas as pd
import numpy as np

In [69]:
Diabetes = pd.read_csv("/Users/sunho/diabetes+130-us+hospitals+for+years+1999-2008/diabetic_data.csv")
Diabetes.head()
Diabetes.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

# Melt

In [8]:
columns_to_melt = ['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
           'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
           'time_in_hospital', 'payer_code', 'medical_specialty', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
           'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult','readmitted','change', 'diabetesMed']

# Use melt to reshape the DataFrame
Diabetes_melted = Diabetes.melt(id_vars=columns_to_melt, var_name='Prescribed', value_name='Value')
Diabetes_melted

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,readmitted,change,diabetesMed,Prescribed,Value
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,?,?,1,NaN,NaN,NO,No,No,metformin,No
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,250.01,255,9,NaN,NaN,>30,Ch,Yes,metformin,No
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,250,V27,6,NaN,NaN,NO,No,Yes,metformin,No
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,250.43,403,7,NaN,NaN,NO,Ch,Yes,metformin,No
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,157,250,5,NaN,NaN,NO,Ch,Yes,metformin,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2340613,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,291,458,9,NaN,>8,>30,Ch,Yes,metformin-pioglitazone,No
2340614,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,276,787,9,NaN,NaN,NO,No,Yes,metformin-pioglitazone,No
2340615,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,590,296,13,NaN,NaN,NO,Ch,Yes,metformin-pioglitazone,No
2340616,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,285,998,9,NaN,NaN,NO,Ch,Yes,metformin-pioglitazone,No
2340617,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,530,787,9,NaN,NaN,NO,No,No,metformin-pioglitazone,No

# Pivot

In [11]:
# Pivot DataFrame 
Diabetes_pivoted = Diabetes_melted.pivot(index=columns_to_melt, columns=['Prescribed'], values=['Value'])
Diabetes_pivoted.reset_index(inplace= True)
Diabetes_pivoted

           encounter_id patient_nbr             race  gender       age weight  \
Prescribed
0                 12522    48330783        Caucasian  Female   [80-90)      ?
1                 15738    63555939        Caucasian  Female  [90-100)      ?
2                 16680    42519267        Caucasian    Male   [40-50)      ?
3                 28236    89869032  AfricanAmerican  Female   [40-50)      ?
4                 35754    82637451        Caucasian    Male   [50-60)      ?
...                 ...         ...              ...     ...       ...    ...
101761        443847548   100162476  AfricanAmerican    Male   [70-80)      ?
101762        443847782    74694222  AfricanAmerican  Female   [80-90)      ?
101763        443854148    41088789        Caucasian    Male   [70-80)      ?
101764        443857166    31693671        Caucasian  Female   [80-90)      ?
101765        443867222   175429310        Caucasian    Male   [70-80)      ?

           admission_type_id discharge_disposition_id admission_source_id  \
Prescribed
0                          2                        1                   4
1                          3                        3                   4
2                          1                        1                   7
3                          1                        1                   7
4                          2                        1                   2
...                      ...                      ...                 ...
101761                     1                        3                   7
101762                     1                        4                   5
101763                     1                        1                   7
101764                     2                        3                   7
101765                     1                        1                   7

           time_in_hospital  ...                  Value  \
Prescribed                   ... metformin-pioglitazone
0                        13  ...                     No
1                        12  ...                     No
2                         1  ...                     No
3                         9  ...                     No
4                         3  ...                     No
...                     ...  ...                    ...
101761                    3  ...                     No
101762                    5  ...                     No
101763                    1  ...                     No
101764                   10  ...                     No
101765                    6  ...                     No

                                                                      \
Prescribed metformin-rosiglitazone miglitol nateglinide pioglitazone
0                               No       No          No           No
1                               No       No          No           No
2                               No       No          No           No
3                               No       No          No           No
4                               No       No          No           No
...                            ...      ...         ...          ...
101761                          No       No          No           No
101762                          No       No          No           No
101763                          No       No          No           No
101764                          No       No          No       Steady
101765                          No       No          No           No


Prescribed repaglinide rosiglitazone tolazamide tolbutamide troglitazone
0                   No            No         No          No           No
1                   No        Steady         No          No           No
2                   No            No         No          No           No
3                   No            No         No          No           No
4                   No            No         No          No           No
...                ...           ...        ...         ...          ...
101761              No            No         No          No           No
101762              No            No         No          No           No
101763              No            No         No          No           No
101764              No            No         No          No           No
101765              No            No         No          No           No

[101766 rows x 50 columns]

In [13]:
# Make columns go back to its place...
Diabetes_pivoted.columns = ['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']

Diabetes_pivoted

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,No,No,No,No,No,No,No,No,No
1,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,No,No,No,No,No,Steady,No,No,No
2,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,No,No,No,No,No,No,No,No,No
3,28236,89869032,AfricanAmerican,Female,[40-50),?,1,1,7,9,...,No,No,No,No,No,No,No,No,No,No
4,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,No,No,No,No,No,No,No,No,No
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,No,No,No,No,No,No,No,No,No
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,No,No,No,No,No,No,No,No,No
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,No,No,No,Steady,No,No,No,No,No
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,No

# Aggregation

###  Data cleaning to make originally categorical value "weight" column into a numeric value

In [79]:
print(Diabetes["weight"].value_counts())
Diabetes["weight_first"] = Diabetes["weight"].str.split('-').str.get(0) # Only the preceding value stays
Diabetes["weight_num_string"] = Diabetes["weight_first"].map(lambda x: x.lstrip('[>')) # Strip string values

weight
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: count, dtype: int64

In [81]:
# Replace "?"s into nan value and then into mode which is 75 in this data set
print(Diabetes["weight_num_string"].value_counts()) # The mode is 75
Diabetes["weight_num_string"].replace("?", pd.NA, inplace=True) # "?"-> nan
Diabetes["weight_num_string"].replace(pd.NA,75 , inplace=True) # nan -> 75

weight_num_string
?      98569
75      1336
50       897
100      625
125      145
25        97
0         48
150       35
175       11
200        3
Name: count, dtype: int64

/var/folders/9s/m83p31z54sq2pmb926wsx2yr0000gn/T/ipykernel_35681/1617103783.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Diabetes["weight_num_string"].replace("?", pd.NA, inplace=True) # "?"-> nan
/var/folders/9s/m83p31z54sq2pmb926wsx2yr0000gn/T/ipykernel_35681/1617103783.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Diabetes["weight_num_string"].replace(pd.NA,75 , inplace=True) # nan -> 75

In [83]:
print(Diabetes["weight_num_string"].value_counts())
Diabetes["weight_num"] = pd.to_numeric(Diabetes["weight_num_string"], errors='coerce') # weight values into numeric value
print(Diabetes["weight_num"].value_counts())

weight_num_string
75     98569
75      1336
50       897
100      625
125      145
25        97
0         48
150       35
175       11
200        3
Name: count, dtype: int64
weight_num
75     99905
50       897
100      625
125      145
25        97
0         48
150       35
175       11
200        3
Name: count, dtype: int64

### Aggregation

In [36]:
print(Diabetes["weight_num"].mean())
print(Diabetes["weight_num"].max())
print(Diabetes["weight_num"].min())
print(Diabetes["weight_num"].std())

74.96167678792524
200
0
4.628221550655183

In [38]:
# .agg()
Diabetes['weight_num'].aggregate(['mean', 'min', 'max', 'sum'])

mean    7.496168e+01
min     0.000000e+00
max     2.000000e+02
sum     7.628550e+06
Name: weight_num, dtype: float64

In [40]:
# Groupby Gender -> get mean weight
Diabetes.groupby('gender')['weight_num'].mean()

gender
Female             74.836861
Male               75.106790
Unknown/Invalid    75.000000
Name: weight_num, dtype: float64

In [42]:
# Groupby Gender and race-> get max weight
Diabetes.groupby(['gender', 'race'])['weight_num'].max()

gender           race
Female           ?                  125
                 AfricanAmerican    200
                 Asian               75
                 Caucasian          200
                 Hispanic            75
                 Other              125
Male             ?                  175
                 AfricanAmerican    125
                 Asian               75
                 Caucasian          200
                 Hispanic            75
                 Other              125
Unknown/Invalid  ?                   75
                 Other               75
Name: weight_num, dtype: int64

In [44]:
# Combine .groupby() + .agg()
Diabetes['weight_kg'] = Diabetes['weight_num']/2.205 # lbs into kg

Diabetes.groupby('gender').agg({
    'weight_num': ['mean', 'min', 'max', 'sum'],
    'weight_kg': ['mean', 'min', 'max', 'sum']
})

                weight_num                    weight_kg                        \
                      mean min  max      sum       mean        min        max
gender
Female           74.836861   0  200  4094175  33.939620   0.000000  90.702948
Male             75.106790   0  200  3534150  34.062036   0.000000  90.702948
Unknown/Invalid  75.000000  75   75      225  34.013605  34.013605  34.013605


                          sum
gender
Female           1.856769e+06
Male             1.602789e+06
Unknown/Invalid  1.020408e+02

In [48]:
Diabetes.groupby(['gender'], as_index=False).agg(
                {'weight_num' : ['mean', 'min', 'max', 'sum'], 'weight_kg' : ['mean', 'min', 'max', 'sum']
            })

            gender weight_num                    weight_kg             \
                         mean min  max      sum       mean        min
0           Female  74.836861   0  200  4094175  33.939620   0.000000
1             Male  75.106790   0  200  3534150  34.062036   0.000000
2  Unknown/Invalid  75.000000  75   75      225  34.013605  34.013605


         max           sum
0  90.702948  1.856769e+06
1  90.702948  1.602789e+06
2  34.013605  1.020408e+02

In [50]:
# Applying Custom Aggregations with apply()
def some_func(x): # function that converts lbs to kg
    return x/2.205
print(Diabetes.groupby(['gender'], as_index=True)['weight_num'].apply(some_func))
print(Diabetes.groupby(['gender'], as_index=False)['weight_num'].apply(some_func))

gender
Female           0         34.013605
                 1         34.013605
                 2         34.013605
                 8         34.013605
                 9         34.013605
                             ...
Male             101763    34.013605
                 101765    34.013605
Unknown/Invalid  30506     34.013605
                 75551     34.013605
                 82573     34.013605
Name: weight_num, Length: 101766, dtype: float64
0  0         34.013605
   1         34.013605
   2         34.013605
   8         34.013605
   9         34.013605
               ...
1  101763    34.013605
   101765    34.013605
2  30506     34.013605
   75551     34.013605
   82573     34.013605
Name: weight_num, Length: 101766, dtype: float64

In [52]:
# make up a height column with random value to calculate BMI
height = np.random.rand(100, 200) 
Diabetes['height_cm'] = np.random.randint(130, 201, size=len(Diabetes)) 

# Define the function to create a BMI column combined with weight and height column
Diabetes['BMI'] = Diabetes.apply(lambda x: f"{round(x['weight_kg']/(x['height_cm']*x['height_cm']/100),2)}", axis=1)

# Group by 'Gender' and aggregate the combined values as a list
Diabetes.groupby(['gender'], as_index=False).agg({'BMI': list})

            gender                                                BMI
0           Female  [0.2, 0.1, 0.16, 0.11, 0.11, 0.12, 0.2, 0.19, ...
1             Male  [0.17, 0.17, 0.09, 0.15, 0.19, 0.1, 0.1, 0.09,...
2  Unknown/Invalid                                  [0.17, 0.2, 0.09]

# Iteration

In [55]:
#adding a new column 
weight_kg_iteration = []
for index,row in Diabetes.iterrows():
    weight_kg_iteration.append(row['weight_num']/2.205)
    
Diabetes["weight_kg_iteration"]= weight_kg_iteration
Diabetes

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,weight_num,weight_kg,height_cm,BMI,weight_kg_iteration
0,2278392,8222157,Caucasian,Female,[0-10),75,6,25,1,1,...,No,No,No,No,NO,75,34.013605,132,0.2,34.013605
1,149190,55629189,Caucasian,Female,[10-20),75,1,1,7,3,...,No,No,Ch,Yes,>30,75,34.013605,186,0.1,34.013605
2,64410,86047875,AfricanAmerican,Female,[20-30),75,1,1,7,2,...,No,No,No,Yes,NO,75,34.013605,147,0.16,34.013605
3,500364,82442376,Caucasian,Male,[30-40),75,1,1,7,2,...,No,No,Ch,Yes,NO,75,34.013605,143,0.17,34.013605
4,16680,42519267,Caucasian,Male,[40-50),75,1,1,7,1,...,No,No,Ch,Yes,NO,75,34.013605,142,0.17,34.013605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),75,1,3,7,3,...,No,No,Ch,Yes,>30,75,34.013605,189,0.1,34.013605
101762,443847782,74694222,AfricanAmerican,Female,[80-90),75,1,4,5,5,...,No,No,No,Yes,NO,75,34.013605,161,0.13,34.013605
101763,443854148,41088789,Caucasian,Male,[70-80),75,1,1,7,1,...,No,No,Ch,Yes,NO,75,34.013605,170,0.12,34.013605
101764,443857166,31693671,Caucasian,Female,[80-90),75,2,3,7,10,...,No,No,Ch,Yes,NO,75,34.013605,137,0.18,34.013605
101765,443867222,175429310,Caucasian,Male,[70-80),75,1,1,7,6,...,No,No,No,No,NO,75,34.013605,134,0.19,34.013605

In [61]:
# Categorical values of admission_source_id	column into binary value column ; whether it is transfer or not 
"""
admission_source_id	description
1	 Physician Referral
2	Clinic Referral
3	HMO Referral
4	Transfer from a hospital
5	 Transfer from a Skilled Nursing Facility (SNF)
6	 Transfer from another health care facility
7	 Emergency Room
8	 Court/Law Enforcement
9	 Not Available
10	 Transfer from critial access hospital
11	Normal Delivery
12	 Premature Delivery
13	 Sick Baby
14	 Extramural Birth
15	Not Available
17	NULL
18	 Transfer From Another Home Health Agency
19	Readmission to Same Home Health Agency
20	 Not Mapped
21	Unknown/Invalid
22	 Transfer from hospital inpt/same fac reslt in a sep claim
23	 Born inside this hospital
24	 Born outside this hospital
25	 Transfer from Ambulatory Surgery Center
26	Transfer from Hospice
"""

admission_source_transfer_YN = []
for index, row in Diabetes.iterrows():# Iterate through each rows 
    if row["admission_source_id"] in [4, 5, 6, 10, 18, 22, 25, 26]: # values that refer to admission by transfer
        admission_source_transfer_YN.append(1) 
    else :
        admission_source_transfer_YN.append(0)
Diabetes["admission_source_transfer_YN"] = admission_source_transfer_YN 
Diabetes["admission_source_transfer_YN"] # 1 = admission by transfer, 0 =  non transfer admission

0         0
1         0
2         0
3         0
4         0
         ..
101761    0
101762    1
101763    0
101764    0
101765    0
Name: admission_source_transfer_YN, Length: 101766, dtype: int64

# Groupby

In [65]:
Diabetes.groupby(['gender'])['weight_num'].max() # Groupby Gender -> get max weight
Diabetes.groupby(['gender'])['height_cm'].min() # Groupby Gender -> get min height_cm
Diabetes.groupby(['gender'])['insulin'].value_counts() # Groupby Gender -> get frequency on insulin prescribtion

gender           insulin
Female           No         25497
                 Steady     16608
                 Down        6593
                 Up          6010
Male             No         21883
                 Steady     14241
                 Down        5625
                 Up          5306
Unknown/Invalid  No             3
Name: count, dtype: int64